.header {
  height: 700px;
  margin: 30px auto;
  background: no-repeat;
  background-size: cover;
  position: relative;
  animation: carousel 50s infinite;
  transition: background-image 1s ease-in-out;
}
@keyframes carousel {
  0% {
    background: url("/home.jpg") left top / cover no-repeat;
  }
  25% {
    background: url("/src/assets/Home1.jpg") right top / cover no-repeat;
  }
  50% {
    background: url("/src/assets/Home2.jpg") left top / cover no-repeat;
  }
  75% {
    background: url("/src/assets/Home3.jpg") right top / cover no-repeat;
  }
  100% {
    background: url("/src/assets/Home4.jpg ") left top / cover no-repeat;
  }
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  animation: fadeIn 3s;
  left: 6vw;
}
.header-contents h2 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
}
.header-contents p {
  color: rgb(8, 8, 8);
  font-size: 20px;
}
.header-contents button {
  border: none;
  color: #747474;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  border-radius: 50px;
  font-size: max(1vw, 13px);
}
p {
  color: black;
}

@media (max-width: 1050px) {
  .header-contents {
    max-width: 45%;
  }
}

@media (max-width: 750px) {
  .header-contents {
    max-width: 65%;
  }

  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 2vw 4vw;
  }
}
.view-button {
  cursor: pointer;
}
