* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #C4E5D3;
  margin: 0px;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}
html::-webkit-scrollbar-thumb {
  background: #8daba5;
  border-radius: 5rem;
}